# Flutter
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.pub/
**/pubspec.lock

# Android
**/android/.gradle/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/*.apk
**/*.aab

# IDE
.idea/
.vscode/
*.iml
*.swp

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*
